<?xml version="1.0"?>
<model>
    <name>myman</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    
    <author>
        <name>Samuel X</name>
        <email>sgzxie12@liv.ac.uk</email>
    </author>
    
    <description>
        Model Created with MakeHuman. Test male named myman
    </description>
    
</model>
